*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/netbeans-flowy/nbproject/private/

/netbeans-flowy/build/
/netbeans-flowy/dist/
/netbeans-process-sketcher/nbproject/private/
/netbeans-process-sketcher/dist/
/netbeans-process-sketcher/build/